@page
@model AppWeb1.Pages.Plataformes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Plataforma</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Plataforma.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plataforma.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Plataforma.Price_month)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plataforma.Price_month)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Plataforma.Price_year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plataforma.Price_year)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Plataforma?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
